.shop {
  background: #f7f7f7;
  display: flex;
  border-top: 1px solid #f1f1f1;
}

.categories-left-bar {
  width: 16%;
  background: #ffffff;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.category-list {
  list-style-type: none;
  color: #0a3247;
  padding: 10px 40px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.category-list li p:hover {
  color: var(--main);
  cursor: default;
}

.category-list li p {
  user-select: none;
}

.category-list li p.active {
  color: var(--main);
}

.category-list li p:active {
  color: var(--main);
}

.category-icons {
  margin-right: 7px;
  font-size: 15px;
}

.child-list p {
  color: #77798c;
  font-size: 13px;
  font-weight: bold;
  font-family: var(--font-secondary);
  padding-top: 10px;
}

.container {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.containers {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 62px;
}

.card {
  background: #ffffff;
  border-radius: 6px;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  padding-bottom: 10px;
  width: 130px;
  height: 100px;
  margin-right: 48px;
  margin-left: 48px;
  object-fit: cover;
}

.card-mid h3 {
  color: #0d1136;
  font-size: 15px;
  font-weight: bold;
  font-family: var(--font-secondary);
  padding-bottom: 5px;
}

.card-mid p {
  color: #77798c;
  font-family: var(--font-secondary);
  font-size: 13px;
}

.card-mid {
  padding-left: 15px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  padding-bottom: 5px;
}

.card-bottom p {
  color: var(--main);
  font-weight: bold;
  font-size: 15px;
  font-family: var(--font-secondary);
}

.card-bottom button {
  font-size: 13px;
  font-weight: bold;
  color: var(--main);
  font-family: var(--font-secondary);
  border: none;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 85px;
  padding: 6px 12px;
}

.card-bottom button span {
  padding-right: 5px;
  font-size: 13px;
}

.card-bottom button:hover {
  color: #ffffff;
  background: var(--main);
}

.card-bottom button img:hover {
  color: white;
}

.load-button button {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  color: var(--main);
  font-weight: bold;
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 10px 30px;
}

.load-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.discount {
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-right: 5px;
}
.discount span {
  text-align: end;
  background: #ffad5e;
  border-radius: 23px;
  color: white;
  font-size: 11px;
  font-family: var(--font-secondary);
  font-weight: bold;
  padding: 3px 6px;
}

.discount-price span {
  text-decoration: line-through;
  color: #ffad5e;
}

.discount-price {
  align-items: center;
  padding-left: 15px;
  padding-top: 10px;
  user-select: none;
}

.discount-blank {
  background: white;
  color: white;
  user-select: none;
}

.cart {
  width: 100px;
  height: 94px;
  background: #009e7f;
  border-radius: 6px 0px 0px 6px;
  position: absolute;
  right: 0%;
  bottom: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.cart button {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  padding: 10px 22px;
  font-family: var(--font-secondary);
  color: var(--main);
  font-weight: bold;
}

.cart span {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  margin-right: 6px;
  vertical-align: text-bottom;
}

.cart img {
  width: 16px;
  vertical-align: middle;
}

.sidenav {
  width: 350px;
  height: 100vh;
  max-height: 100vh;
  background: #ffffff;
  box-shadow: 0px 21px 36px rgba(0, 0, 0, 0.16);
  position: absolute;
  right: 100%;
  bottom: 0%;
  z-index: 10;
  transition: 0.7s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  right: 0%;
}

.sidenav .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}

.sidenav .top span {
  color: #009e7f;
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: bold;
  margin-right: 6px;
  vertical-align: text-bottom;
}

.sidenav .top img {
  width: 16px;
  vertical-align: middle;
}

.close-icon {
  color: rgba(0, 0, 0, 0.25);
  width: 10px;
  height: 10px;
}

.close-icon:hover {
  color: red;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.middle img {
  width: 160px;
  height: 280px;
  margin-bottom: 30px;
}

.middle p {
  color: #77798c;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 15px;
}

.bottom {
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottom button {
  width: 100%;
  height: 48px;
  border: none;
  background: #009e7f;
  border: 1px solid #009e7f;
  box-sizing: border-box;
  border-radius: 85px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
}

.bottom button .text {
  color: white;
  font-family: var(--font-secondary);
  font-weight: bold;
  margin-left: 10px;
}

.bottom button .price {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
  border-radius: 85px;
  height: 44px;
  width: 84px;
  padding-top: 12px;
  color: var(--main);
}

.profile .lang {
  display: block;
}

.lang button {
  border: none;
  background: transparent;
  color: var(--main);
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 20px;
  width: 97px;
  height: 38px;
  border-radius: 6px;
  font-style: var(--font-secondary);
  font-weight: 700;
  font-style: normal;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang img {
  width: 20px;
  margin-right: 7px;
}
.lang span {
  vertical-align: middle;
  align-self: center;
  padding-top: 3px;
}

.logo img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 20px;
  top: 61px;
  height: 228px;
  width: 200px;
}

.dropdown ul {
  list-style-type: none;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: bold;
  color: #0d1136;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(142, 142, 142, 0.14);
  border-radius: 6px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.dropdown li {
  padding: 15px 30px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown a {
  text-decoration: none;
  color: #0d1136;
}

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle {
  position: absolute;
  margin-right: 30px;
  width: 16px;
}

.triangle img {
  position: absolute;
  height: 9px;
  width: 16p;
  bottom: -2px;
  left: 172px;
}

.user .logo-div {
  display: block;
}

@media screen and (max-width: 720px) {
  .dropdown {
    display: flex;
    align-items: flex-start;
    height: 180px;
    width: 200px;
    margin-right: 100px;
  }

  .dropdown li {
    padding: 10px;
    width: 300px;
  }
}
